.Footer {

    display: block;
    background-color: #6d2c81;
    text-align: center;
    color: whitesmoke;
  
    body header {
      // background: #af0e0e;
      border-bottom: 1px solid #eee;
      color: #eee;
      padding: 0;
      margin: 5;
      text-align: center;
    }
  }